body {
          font-family: 'Space Grotesk', sans-serif;
        }
.custom-shadow {
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.2);
}
.custom-shadow:hover {
  box-shadow: 0 0 40px rgba(0, 255, 255, 0.4);
}
